[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /data/goecmserver/mysql
log-error       = /data/goecmserver/mysql/error.log
secure-file-priv= NULL
symbolic-links=0
bind-address=0.0.0.0
default_authentication_plugin=mysql_native_password
skip-host-cache
skip-name-resolve
sql_mode=NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
default-storage-engine=INNODB
character-set-server=utf8mb3
log_bin_trust_function_creators=1
performance_schema=ON
collation-server=utf8_general_ci
default-time-zone='+8:00'
log_timestamps=SYSTEM


#server_id=1
#gtid_mode=ON
#enforce_gtid_consistency=ON
#master_info_repository=TABLE     
#relay_log_info_repository=TABLE 
#binlog_checksum=NONE
#log_slave_updates=ON
log_bin=binlog
#binlog_format=ROW
#transaction_write_set_extraction = XXHASH64
#report_host='mysql-0'
#read_only=on
#plugin-load = "group_replication.so"
#group_replication_consistency= 'AFTER'
#group_replication_start_on_boot = off
#group_replication_bootstrap_group = off 
#group_replication_group_name="f6b40de0-697d-4a0c-af1c-5748730984ab"
#group_replication_local_address="mysql-0:33061"
#group_replication_group_seeds="mysql-0:33061,mysql-1:33061,mysql-2:33061"
#group_replication_ip_whitelist = <F12>'127.0.0.1/8,192.168.0.0/16,172.16.0.0/16,10.0.0.0/8'
#group_replication_single_primary_mode=FALSE
#group_replication_enforce_update_everywhere_checks=TRUE

#innodb
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 4
innodb_log_buffer_size = 256M
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_io_capacity=1000
innodb_io_capacity_max = 10000
innodb_log_file_size = 512M
innodb_log_files_in_group = 2
innodb_log_buffer_size = 32M
innodb_file_per_table = true
innodb_flush_log_at_trx_commit=1


sort_buffer_size = 4M
join_buffer_size = 4M
binlog_cache_size = 2M
thread_cache_size = 32
bulk_insert_buffer_size = 8M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
sync_binlog=0
slow_query_log=1
long_query_time=3
key_buffer_size=256M
binlog_expire_logs_seconds=604800
lower_case_table_names = 1
max_connections = 5000
[client]
default-character-set=utf8
[mysql]
default-character-set = utf8mb3
[mysql.server]
default-character-set = utf8mb3
[mysqld_safe]
default-character-set = utf8mb3

